.password-generator {
    width: 200px;
    margin: auto;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

#password {
    display: none;
}

.password-generator:active #password {
    display: block;
}